<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head.ejs %>
</head>

<body>

	<div id="colorlib-page">
		<% include ../partials/sidebar.ejs %>

		<div id="colorlib-main">
			<section class="ftco-section bg-light ftco-bread">
				<div class="container">
					<div class="row no-gutters slider-text align-items-center">
						<div class="col-md-9 ftco-animate" style="padding-top: 10px">
							<p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span class="mr-2"><a href="gallery">Gallery</a></span> <span>Drones</span></p>
							</p>
							<h1 class="mb-3 bread">Drones</h1>
							<p>Capturing shots from a different perspective</p>
						</div>
					</div>
				</div>
			</section>
			<section class="ftco-section-2">
				<div class="photograhy">
					<div class="row no-gutters">
						<div class="col-md-4 ftco-animate">
							<a href="images/droneGallery/drone_01.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/droneGallery/drone_01.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Savannah</h3>
									<span class="tag">Georgia</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/droneGallery/drone_02.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/droneGallery/drone_02.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Raleigh</h3>
									<span class="tag">North Carolina</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/droneGallery/drone_03.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/droneGallery/drone_03.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Bald Head Island</h3>
									<span class="tag">North Carolina</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/droneGallery/drone_04.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/droneGallery/drone_04.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Duke Chapel</h3>
									<span class="tag">North Carolina</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/droneGallery/drone_05.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/droneGallery/drone_05.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Savannah</h3>
									<span class="tag">Georgia</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/droneGallery/drone_06.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/droneGallery/drone_06.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Savannah</h3>
									<span class="tag">Georgia</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/droneGallery/drone_07.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/droneGallery/drone_07.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Bald Head Island</h3>
									<span class="tag">North Carolina</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/droneGallery/drone_08.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/droneGallery/drone_08.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Asheville</h3>
									<span class="tag">North Carolina</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/droneGallery/drone_09.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/droneGallery/drone_09.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Bald Head Island</h3>
									<span class="tag">North Carolina</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>

			<% include ../partials/footer.ejs %>
		</div><!-- END COLORLIB-MAIN -->
	</div><!-- END COLORLIB-PAGE -->

	<% include ../partials/scripts.ejs %>
</body>

</html>