<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head.ejs %>
</head>

<body>

	<div id="colorlib-page">
		<% include ../partials/sidebar.ejs %>

		<div id="colorlib-main">
			<section class="ftco-section bg-light ftco-bread">
				<div class="container">
					<div class="row no-gutters slider-text align-items-center">
						<div class="col-md-9 ftco-animate" style="padding-top: 10px">
							<p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span class="mr-2"><a href="gallery">Gallery</a></span> <span>Models</span></p>
							</p>
							<h1 class="mb-3 bread">Models</h1>
							<p>Working with local models to take creative photos around Raleigh</p>
						</div>
					</div>
				</div>
			</section>
			<section class="ftco-section-2">
				<div class="photograhy">
					<div class="row no-gutters">
						<div class="col-md-4 ftco-animate">
							<a href="images/image_2.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/image_2.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Rachel</h3>
									<span class="tag">Ullman</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/image_4.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/image_4.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Meg</h3>
									<span class="tag">Silva</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/image_6.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/image_6.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Ashley</h3>
									<span class="tag">Morgenstern</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/image_8.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/image_8.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Alyssa</h3>
									<span class="tag">Davis</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/image_10.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/image_10.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Carrigan</h3>
									<span class="tag">Creech</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>

			<% include ../partials/footer.ejs %>
		</div><!-- END COLORLIB-MAIN -->
	</div><!-- END COLORLIB-PAGE -->

	<% include ../partials/scripts.ejs %>
</body>

</html>