<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head.ejs %>
</head>

<body>

	<div id="colorlib-page">
		<% include ../partials/sidebar.ejs %>

		<div id="colorlib-main">
			<section class="ftco-section bg-light ftco-bread">
				<div class="container">
					<div class="row no-gutters slider-text align-items-center">
						<div class="col-md-9 ftco-animate" style="padding-top: 10px">
							<p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span class="mr-2"><a
										href="gallery">Gallery</a></span> <span>Pets</span></p>
							</p>
							<h1 class="mb-3 bread">Pets</h1>
							<p>Furry friends</p>
						</div>
					</div>
				</div>
			</section>
			<section class="ftco-section-2">
				<div class="photograhy">
					<div class="row no-gutters">
						<div class="col-md-4 ftco-animate">
							<a href="images/petGallery/pet_06.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/petGallery/pet_06.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Finn</h3>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/petGallery/pet_02.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/petGallery/pet_02.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Penny</h3>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/petGallery/pet_03.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/petGallery/pet_03.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Finn</h3>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/petGallery/pet_07.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/petGallery/pet_07.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Cooper</h3>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/petGallery/pet_05.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/petGallery/pet_05.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Finn</h3>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/petGallery/pet_08.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/petGallery/pet_08.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Finn</h3>
								</div>
							</a>
						</div>


						<div class="col-md-4 ftco-animate">
							<a href="images/petGallery/pet_09.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/petGallery/pet_09.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Finn</h3>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/petGallery/pet_10.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/petGallery/pet_10.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Penny</h3>
								</div>
							</a>
						</div>

						<div class="col-md-4 ftco-animate">
							<a href="images/petGallery/pet_11.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/petGallery/pet_11.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Cooper</h3>
								</div>
							</a>
						</div>


						<div class="col-md-4 ftco-animate">
							<a href="images/petGallery/pet_04.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/petGallery/pet_04.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Finn</h3>
								</div>
							</a>
						</div>

						<div class="col-md-4 ftco-animate">
							<a href="images/petGallery/pet_12.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/petGallery/pet_12.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Penny</h3>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/petGallery/pet_01.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/petGallery/pet_01.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Finn</h3>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>

			<% include ../partials/footer.ejs %>
		</div><!-- END COLORLIB-MAIN -->
	</div><!-- END COLORLIB-PAGE -->

	<% include ../partials/scripts.ejs %>
</body>

</html>