<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head.ejs %>
</head>

<body>

	<div id="colorlib-page">
		<% include ../partials/sidebar.ejs %>

		<div id="colorlib-main">
			<section class="ftco-section bg-light ftco-bread">
				<div class="container">
					<div class="row no-gutters slider-text align-items-center">
						<div class="col-md-9 ftco-animate" style="padding-top: 10px">
							<p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span class="mr-2"><a
										href="gallery">Gallery</a></span> <span>Travel</span></p>
							</p>
							<h1 class="mb-3 bread">Travel</h1>
							<p>On going adventures</p>
						</div>
					</div>
				</div>
			</section>
			<section class="ftco-section-2">
				<div class="photograhy">
					<div class="row no-gutters">
						<div class="col-md-4 ftco-animate">
							<a href="images/travelGallery/travel_18.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/travelGallery/travel_18.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Havana</h3>
									<span class="tag">Cuba</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/travelGallery/travel_06.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/travelGallery/travel_06.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Glacier National Park</h3>
									<span class="tag">Montana</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/travelGallery/travel_16.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/travelGallery/travel_16.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Havana</h3>
									<span class="tag">Cuba</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/travelGallery/travel_17.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/travelGallery/travel_17.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Havana</h3>
									<span class="tag">Cuba</span>
								</div>
							</a>
						</div>


						<div class="col-md-4 ftco-animate">
							<a href="images/travelGallery/travel_03.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/travelGallery/travel_03.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Montserrat</h3>
									<span class="tag">Spain</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/travelGallery/travel_04.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/travelGallery/travel_04.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Madrid</h3>
									<span class="tag">Spain</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/travelGallery/travel_05.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/travelGallery/travel_05.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Edinburgh</h3>
									<span class="tag">Scotland</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/travelGallery/travel_02.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/travelGallery/travel_02.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Sant Cugat</h3>
									<span class="tag">Spain</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/travelGallery/travel_01.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/travelGallery/travel_01.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Barcelona</h3>
									<span class="tag">Spain</span>
								</div>
							</a>
						</div>

						<div class="col-md-4 ftco-animate">
							<a href="images/travelGallery/travel_07.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/travelGallery/travel_07.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Glacier National Park</h3>
									<span class="tag">Montana</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/travelGallery/travel_08.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/travelGallery/travel_08.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Madrid</h3>
									<span class="tag">Spain</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/travelGallery/travel_09.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/travelGallery/travel_09.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Madrid</h3>
									<span class="tag">Spain</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/travelGallery/travel_10.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/travelGallery/travel_10.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Glacier National Park</h3>
									<span class="tag">Montana</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/travelGallery/travel_11.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/travelGallery/travel_11.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Glacier National Park</h3>
									<span class="tag">Montana</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/travelGallery/travel_12.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/travelGallery/travel_12.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Tenerife</h3>
									<span class="tag">Spain</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/travelGallery/travel_13.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/travelGallery/travel_13.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Glacier National Park</h3>
									<span class="tag">Montana</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/travelGallery/travel_14.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/travelGallery/travel_14.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Glacier National Park</h3>
									<span class="tag">Montana</span>
								</div>
							</a>
						</div>
						<div class="col-md-4 ftco-animate">
							<a href="images/travelGallery/travel_15.jpg"
								class="photography-entry img image-popup d-flex justify-content-center align-items-center"
								style="background-image: url(images/travelGallery/travel_15.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Sant Cugat</h3>
									<span class="tag">Spain</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>

			<% include ../partials/footer.ejs %>
		</div><!-- END COLORLIB-MAIN -->
	</div><!-- END COLORLIB-PAGE -->

	<% include ../partials/scripts.ejs %>
</body>

</html>