<!DOCTYPE html>
<html lang="en">
  <head>
	<% include ./partials/head.ejs %>
  </head>
  <body>	
    <% include ./partials/sidebar.ejs %>

    <div id="colorlib-main">
			<section class="ftco-section bg-light ftco-bread">
				<div class="container">
					<div class="row no-gutters slider-text align-items-center">
	          <div class="col-md-9 ftco-animate" style="padding-top: 10px">
	            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>About</span></p>
	            <h1 class="mb-3 bread">About Me</h1>
				
				<p><span>Phone:</span> <a style="color: black !important" href="tel://9194382257">+1 (919) 438 2257 </a></p>
				<p><span>Email:</span> <a style="color: black !important" href="mailto:contact@jonathanhdezphotography.com">contact@jonathanhdezphotography.com</a></p>
	          </div>
	        </div>
				</div>
			</section>
			<section class="ftco-section-no-padding bg-light">
				<div class="container">				
					<p>Something something about myself. so many sentences to make sure this page looks good. cool cool. Keep at it. This page is looking so much better already. Nice! Lets hope this works out.</p>
					<p style="text-align: center;">
						<img src="images/author.jpg" alt="" class="img-fluid">
					</p>
					<p>Something something about myself. so many sentences to make sure this page looks good. cool cool. Keep at it. This page is looking so much better already. Nice! Lets hope this works out.</p>
					
					<div class="tag-widget post-tag-container mb-5 mt-5">
						<ul class="ftco-social mt-3">
							<li class="ftco-animate"><a href="https://www.instagram.com/john.znow/" target="_blank"><span class="icon-instagram"></span></a></li>
							<li class="ftco-animate"><a href="https://www.facebook.com/Jonathan-Hernandez-Photography-105689607505459" target="_blank"><span class="icon-facebook"></span></a></li>
						</ul>
					</div>
				</div>
			</section>
			<section class="ftco-section">
	    </section>
		</div><!-- END COLORLIB-MAIN -->
	</div><!-- END COLORLIB-PAGE -->

    <% include ./partials/scripts.ejs %> 
  </body>
</html>