<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body>

    <div id="colorlib-page">
        <% include ./partials/sidebar.ejs %>

            <div id="colorlib-main">
                <section class="ftco-section bg-light ftco-bread">
                    <div class="container">
                        <div class="row no-gutters slider-text align-items-center">
                            <div class="col-md-9 ftco-animate">
                                <p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>Contact Us</span></p>
                                <h1 class="mb-3 bread">Contact Me</h1>
                                <p>What in the world is HDEZ? HernanDEZ. Get it?</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="ftco-section contact-section">
                    <div class="container">
                        <div class="row d-flex mb-5 contact-info">
                            <div class="col-md-12 mb-4">
                                <h2 class="h3">Contact Information</h2>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-4 d-flex">
                                <div class="info bg-light p-4">
                                    <p><span>Phone:</span> </br> <a href="tel://9194382257">+1 (919) 438 2257 </a></p>
                                </div>
                            </div>
                            <div class="col-md-8 d-flex">
                                <div class="info bg-light p-4">
                                    <p><span>Email:</span> <a href="mailto:contact@jonathanhdezphotography.com">contact@jonathanhdezphotography.com</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="row block-9">
                            <div class="col-md-6 order-md-last d-flex">
                                <form action="#" class="bg-light p-5 contact-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Subject">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                                    </div>
                                </form>

                            </div>

                            <div class="col-md-6 d-flex">
                                <div id="map" class="bg-light"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- END COLORLIB-MAIN -->
    </div>
    <!-- END COLORLIB-PAGE -->

    <% include ./partials/scripts.ejs %>
</body>

</html>