<!DOCTYPE html>
<html lang="en">

<head>
	<% include ./partials/head.ejs %>
</head>

<body>

	<div id="colorlib-page">
		<% include ./partials/sidebar.ejs %>

		<div id="colorlib-main">
			<section class="ftco-section bg-light ftco-bread" style="padding-bottom: 10px !important;">
				<div class="container">
					<div class="row no-gutters slider-text align-items-center">
						<div class="col-md-9 ftco-animate" style="padding-top: 20px">
							<p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span>
								<span>Gallery</span></p>
							<h1 class="mb-3 bread">Select Category</h1>
						</div>
					</div>
				</div>
			</section>
			<section class="ftco-section">
				<div class="container">
					<div class="row">
						<div class="col-lg">
							<div class="row">
								<div class="col-md-2">
									<div class="blog-entry ftco-animate" style="margin-bottom: 0px;">
										<div class="text text-2 pt-2 mt-3">
											<h3 class="mb-2"><a href="modelGallery">Models</a></h3>
										</div>
										<a href="modelGallery" class="img img-2"
											style="background-image: url(images/image_1.jpg);"></a>
									</div>
								</div>
								<div class="col-md-2">
									<div class="blog-entry ftco-animate" style="margin-bottom: 0px;">
										<div class="text text-2 pt-2 mt-3">
											<h3 class="mb-2"><a href="familyGallery">Family</a></h3>
										</div>
										<a href="familyGallery" class="img img-2"
											style="background-image: url(images/image_2.jpg);"></a>

									</div>
								</div>
								<div class="col-md-2">
									<div class="blog-entry ftco-animate" style="margin-bottom: 0px;">
										<div class="text text-2 pt-2 mt-3">
											<h3 class="mb-2"><a href="petGallery">Pets</a></h3>
										</div>
										<a href="petGallery" class="img img-2"
											style="background-image: url(images/image_3.jpg);"></a>

									</div>
								</div>
								<div class="col-md-2">
									<div class="blog-entry ftco-animate" style="margin-bottom: 0px;">
										<div class="text text-2 pt-2 mt-3">
											<h3 class="mb-2"><a href="travelGallery">Travel</a></h3>
										</div>
										<a href="travelGallery" class="img img-2"
											style="background-image: url(images/travelGallery/travel_13.jpg);"></a>

									</div>
								</div>
								<div class="col-md-2">
									<div class="blog-entry ftco-animate" style="margin-bottom: 0px;">
										<div class="text text-2 pt-2 mt-3">
											<h3 class="mb-2"><a href="droneGallery">Drone</a></h3>
										</div>
										<a href="droneGallery" class="img img-2"
											style="background-image: url(images/droneGallery/drone_06.jpg);"></a>
									</div>
								</div>
							</div><!-- END-->
						</div>
					</div>
			</section>

			<% include ./partials/footer.ejs %>
		</div><!-- END COLORLIB-MAIN -->
	</div><!-- END COLORLIB-PAGE -->

	<% include ./partials/scripts.ejs %>
</body>

</html>