<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container px-md-5">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Category</h2>
                    <ul class="list-unstyled categories">
                        <li><a href="#">Modeling <span>(0)</span></a></li>
                        <li><a href="#">Family <span>(0)</span></a></li>
                        <li><a href="#">Pets <span>(0)</span></a></li>
                        <li><a href="#">Travel <span>(18)</span></a></li>
                        <li><a href="droneGallery">Drones <span>(9)</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><a href="https://www.google.com/maps/place/Raleigh,+NC" target="_blank"><span
                                        class="icon icon-map-marker"></span><span class="text">Raleigh, NC</span></a></li>
                            <li><a href="tel://9194382257" target="_blank"><span class="icon icon-phone"></span><span class="text">+1 (919) 438
                                        2257</span></a></li>
                            <li><a href="mailto:contact@jonathanhdezphotography.com" target="_blank"><span class="icon icon-envelope"></span><span
                                        class="text">contact@jonathanhdezphotography.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>